{:deps
 {org.clojure/clojure        {:version "1.9.0-alpha17" :scope "provided"}
  org.apache.solr/solr-core  {:version "5.4.0" :exclusions [joda-time org.slf4j/slf4j-api]}
  org.apache.solr/solr-solrj {:version "5.4.0" :exclusions [org.slf4j/slf4j-api]}

  ;; Development deps
  com.roomkey/boot-v      {:version "0.1.1" :scope "test"}
  midje                   {:version "1.9.0-alpha6" :exclusions [commons-codec joda-time] :scope "test"}
  zilti/boot-midje        {:version "0.2.2-SNAPSHOT" :scope "test"}
  org.slf4j/slf4j-log4j12 {:version "1.7.25" :scope "test"}
  log4j/log4j             {:version "1.2.17" :scope "test"}}}
