{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.9.0-alpha17" :scope "provided"}
  org.apache.solr/solr-core {:mvn/version "6.6.0" :exclusions [org.slf4j/slf4j-api]}
  org.apache.solr/solr-solrj {:mvn/version "6.6.0" :exclusions [org.slf4j/slf4j-api]}
  medley {:mvn/version "1.0.0"}}

 :aliases
 {:dev
  {:extra-paths ["dev-resources" "test"]
   :extra-deps
   {org.slf4j/slf4j-log4j12 {:mvn/version "1.8.0-alpha2" :scope "test"}
    log4j/log4j {:mvn/version "1.2.17" :scope "test"}
    org.clojure/test.check {:mvn/version "0.10.0-alpha2" :scope "test"}}}}}
